:root {
    --button-color : #DAEBFF;
    --subBtn-color : #767373;
    --point-color : #DB7C8D;

    --width-size : 400px;
}

body {
    font-family: Inter;
    margin: 0;
    padding: 0;
}

.head_container {
    margin-top: 160px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container {
    display: flex;
    flex-direction: column;

    width: 450px;
    height: 500px;
    flex-shrink: 0;

    align-items: center;

    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    padding : 10px;
}

.loginLogo {
    margin-top: 40px;
    height: auto;
    width: 150px;

    margin-bottom: 40px;
}

.login_container input {
    width: 362px;
    height: 28px;
    flex-shrink: 0;
    padding : 14px 17px 13px;

    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    
    margin-bottom: 14px;

    font-size: 15px;
}

.login_container .loginBtn {
    width: var(--width-size);
    height: 52px;
    flex-shrink: 0;

    border-radius: 10px;
    background: var(--button-color);
    border : transparent;

    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

    margin-bottom: 5px;

    cursor: pointer;
    transition: all 0.3s ease;
}

.loginBtn:hover {
    background-color: #ADD3FF; 
}

.loginErrorMsg {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color : var(--point-color);
    margin-right: auto;
    margin-left: 30px;

    display: none;
}

.subBtn_cotainer {

    width: var(--width-size);
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.subBtn_cotainer button {
    background-color: white;
    border: transparent;

    cursor: pointer;
    /* transition: all 0.3s ease; */
}

.subBtn_cotainer button:hover {
    transform: scale(1.01);
}

.loginStatusBtn {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.loginStatusBtn i {
    font-size: 18px;
    margin-right: 5px;
}

.loginStatusBtn p {
    color: var(--subBtn-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.findIdPwBtn {
    color: var(--subBtn-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.eventMsg {
    color: #767373;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signUpBtn {
    width: var(--width-size);
    height: 52px;
    flex-shrink: 0;

    border-radius: 10px;
    background: var(--point-color);
    border: transparent;

    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
    /* transition: all 0.3s ease; */
}

.signUpBtn:hover {
    background-color: #D84962;
}

/* 테블릿 */
@media screen and (max-width: 1023px) {

}

/* 모바일 */
@media screen and (max-width: 767px) {
    
    .login_container{
        width: 330px;
        height: 430px;
    }

    .login_container input {
        width: 78%;
        height: 18px;
        font-size: 15px;
    }

    .login_container .loginBtn {
        width: 89%;
        height: 42px;
    }

    .signUpBtn {
        width: 89%;
        height: 42px; 
    }

    .subBtn_cotainer {
        width: 100%;
    }

    .findIdPwBtn {
        margin-right: 15px;
    }

}